@import '../vars';

.slider-price {
  padding: 35px 10px 19px;

  & > span {
    margin-top: 3px;
    opacity: 0.5;
  }

  .scale {
    display: none;
  }
  .pointer {
    background: $orange !important;
    border: 0 !important;
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    top: -3px !important;
  }
  .pointer-label {
    font-family: 'Museo Sans Cyrl', sans-serif !important;
    color: $black !important;
    font-size: 14px !important;
    margin-top: -16px;
    background: $lightGray !important;
    padding: 4px 9px;
    border-radius: 2px;
  }
  .back-bar {
    background: #e8e4e4 !important;
    border-radius: 2px;
  }
  .selected-bar {
    background: $orange !important;
  }
}
