@import '../vars';

.sorted {
  position: relative;
  color: $gray;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: -10px;

  &:hover ul {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    padding: 10px 0;
    background: $mainBgColor;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: $black;
    font-size: 13px;
    white-space: nowrap;

    li {
      line-height: 25px;
      position: relative;
      z-index: 10;

      a {
        padding: 3px 10px;
        display: block;
      }

      transition: background .3s;
      &.-act, &:hover {
        background: $orange;
      }
    }
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: -4px;
      right: 20px;
      background: $mainBgColor;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      width: 10px;
      height: 10px;
      transform: rotate(-45deg);
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $mainBgColor;
    }
  }

  @media (max-width: 420px) {
    &:focus ul {
      display: none;
    }
  }
}
