# Framework
# ---------
YII_DEBUG=true
YII_ENV=dev
APP_MAINTENANCE=0

# Application
# -----------
LINK_ASSETS=true

# Databases
# ---------
DB_DSN=mysql:host=db;port=3306;dbname=yii2-starter-kit
DB_USERNAME=ysk_dbu
DB_PASSWORD=ysk_pass
DB_TABLE_PREFIX=
DB_CHARSET=utf8mb4

TEST_DB_DSN=mysql:host=db;port=3306;dbname=yii2-starter-kit-test
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=root

# Urls
# ----
API_HOST_INFO=http://api.yii2-starter-kit.localhost
FRONTEND_HOST_INFO=http://yii2-starter-kit.localhost
BACKEND_HOST_INFO=http://backend.yii2-starter-kit.localhost
STORAGE_HOST_INFO=http://storage.yii2-starter-kit.localhost

# Single domain example
# ----
#FRONTEND_HOST_INFO=http://yii2-starter-kit.localhost
#FRONTEND_BASE_URL=/
#BACKEND_HOST_INFO=http://yii2-starter-kit.localhost
#BACKEND_BASE_URL=/backend/web
#STORAGE_HOST_INFO=http://yii2-starter-kit.localhost
#STORAGE_BASE_URL=/storage/web

#IML API (v.4 REST) https://api.iml.ru/Help/v4/Info
API_IML_HOST=http://api.iml.ru
API_IML_USER=1
API_IML_PASSWORD=1

#PickPoint API https://pickpoint.ru/sales/api/
API_PP_HOST=https://e-solution.pickpoint.ru/apitest/
API_PP_USER=1
API_PP_PASSWORD=1
#ИКН Номер договора
API_PP_IKN=11111111

#CDEK
API_CDEK_LOGIN = 1111
API_CDEK_PASSWORD = 111111

# Other
# -----
SMTP_HOST=mailcatcher
SMTP_PORT=1025

FRONTEND_COOKIE_VALIDATION_KEY=<generated_key>
BACKEND_COOKIE_VALIDATION_KEY=<generated_key>

ADMIN_EMAIL=admin@yii2-starter-kit.localhost
ROBOT_EMAIL=robot@yii2-starter-kit.localhost

GITHUB_CLIENT_ID=your-client-id
GITHUB_CLIENT_SECRET=your-client-secret

GLIDE_SIGN_KEY=<generated_key>
GLIDE_MAX_IMAGE_SIZE=4000000

# To resolve "Invalid volumes",For Toolbox. (https://github.com/docker/toolbox/issues/607)
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Config for Docker for Mac
#XDEBUG_CONFIG = "remote_connect_back=0 remote_host=host.docker.internal"

#TINKOFF
TINKOFF_TERMINAL_KEY = 1562925611965DEMO
TINKOFF_TERMINAL_PASS = wbo4g6rmanp769gj

# Roistat
RS_KEY = key