/** custom.css **/

@font-face {
  font-family: "rouble";
  src: url("/fonts/rouble.otf") format("opentype");
  font-display: swap;
}
.rub {
  font-family: "rouble", sans-serif;
}

.header-temporary-text a small {
  color: #fff !important;
  opacity: 1 !important;
}

.product-card__title-art {
  color: #888;
}
.page-home--box-category .category-tile__list>*,
.page-catalog--sec-category .category-tile__list>*,
.page-home--box-category .category-tile__list>*>div>div,
.page-catalog--sec-category .category-tile__list>*>div>div {
  padding-bottom: 0;
}
.page-home--box-category .category-tile-caption-container,
.page-catalog--sec-category .category-tile-caption-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: table;
  background: rgba(0, 0, 0, 0.4);
}
.page-home--box-category .category-tile-caption,
.page-catalog--sec-category .category-tile-caption {
  display: table-cell;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px;
}
.page-home--box-category .category-tile__list>*>div>div,
.page-catalog--sec-category .category-tile__list>*>div>div {
  padding-top: 80%;
  background: no-repeat center;
  background-size: cover;
  margin-bottom: 0;
}
.product-card__title {
  font-size: 30px;
  white-space: normal;
}

/*.ui-autocomplete-search-menu {*/
/*    padding-bottom: 70px;*/
/*}*/
.ui-autocomplete-search-menu .ui-sm-it__pict {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 54px;
  height: 100%;
  background: no-repeat 0 0;
  background-size: contain;
  margin-left: 5px;
}

#toTop {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 12.8vw;
  background: url(/img/to_top.png) no-repeat center;
  /*padding: 20px 10px;*/
  cursor: pointer;
  opacity: 0.25;
  z-index: 99999;
}

#toTop:hover {
  opacity: 1;
}

@media (max-width: 640px) {
  #toTop {
      right: 1.6vw;
  }
}

.my-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 999999;
}
.modal-form {
  display: block;
  min-width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  padding: 15px;
  margin: 0 auto;
}

.modal-form {
  width: 1020px;
}

.modal-form h2 {
  font-size: 22px;
  line-height: 24px;
  padding: 0 40px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: url(/img/btn_modal_close.png) no-repeat center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.has-error .help-block {
  font-size: 11px;
  color: #b94949;
  margin: 0.3rem 0;
}
.modal-form .contact-form__btn {
  float: right;
}

.product-row-list__item__art {
  margin: 16px 15%;
}
.product-row-list__item__price-box {
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

@media (min-width: 480px) {
  .product-list__item__price-old,
  .product-list__item__price,
  .product-row-list__item__price-old,
  .product-row-list__item__price {
      float: right;
      display: block;
      font-size: 18px;
      font-weight: 700;
  }

  .product-list__item__price-old,
  .product-row-list__item__price-old {
      font-size: 14px;
      font-weight: normal;
      line-height: 28px;
  }
}

@media (max-width: 479px) {
  .product-list__item__price-box,
  .product-row-list__item__price-box {
      height: 40px;
  }
}

@media (max-width: 575.98px) {
  .product-list__item__price-old,
  .product-row-list__item__price-old {
      font-size: 13px;
  }
}

.ui-autocomplete-search-menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
.ui-autocomplete-search-menu .ui-autocomplete-search-menu-footer.ui-menu-item .btn {
  padding: 8px 15px;
  margin-top: 5px;
}

input + span.balon:after {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  overflow: visible;
  padding: 0px !important;
  border: 6px solid #d3d3d3;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

label.pay__variant-item {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin-bottom: 20px;
}

span.balon {
}

input + span.balon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 2px solid #cbcbcb;
}

input:checked + span.balon:before {
  border-color: #f8cd4f;
}

input:checked + span.balon:after {
  border-color: #f8cd4f;
}
.product-row-list__item__cart span.__empty {
  display: block;
  padding: 0;
}

@media (max-width: 1120px) {
  .page-home--box-category .category-tile-caption, .page-catalog--sec-category .category-tile-caption {
      font-size: 14px;
  }
  .page-home--box-category .category-tile__list>*>div>div, .page-catalog--sec-category .category-tile__list>*>div>div {
      padding-top: 0;
      background: no-repeat center;
      background-size: cover;
      margin-bottom: 0;
      height: 120px;
  }
}

.product-list__item__price-box {
  height: 54px;
}

span.product-list__item__price-old,
span.product-row-list__item__price-old {
  display: block;
  width: 100%;
  line-height: 16px;
}

span.product-list__item__price,
span.product-row-list__item__price {
  display: block;
  width: 100%;
  line-height: 16px;
}

span.product-list__item__price-box > span,
span.product-row-list__item__price-box > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28px;
}

span.product-list__item__price-box,
span.product-row-list__item__price-box {
  justify-content: center;
}

.product-list__config__table > div > div {
  vertical-align: middle;
}

.plt-price .plt-price-old {
  display: block;
  font-size: 11px;
  text-decoration: line-through;
}

.product-row-list__item__out_of_stock {
  position: absolute;
  top: 0;
  left: 0;
  background: #cfcfcf;
  color: #fff;
  font-size: 17px;
  padding: 3px 10px 3px 8px;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .product-row-list__item__out_of_stock {
      top: 20px;
      font-size: 14px;
      padding: 3px 8px;
  }

  .product-row-list__item__out_of_stock:after {
      display: none;
  }
}

.product-card__body {
  margin-bottom: 0;
}

.category-tile__list > a {
  text-shadow: 1px 1px 2px black, 0 0 0.5em black;
}

@media (max-width: 1129px) {
  .yii-debug-toolbar_position_bottom {
      display: none !important;
  }

  .product-card-price__right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      padding: 10px 0;
      z-index: 1000;
  }

  .product-card-price__right :nth-child(1) {
      order: 2;
  }

  .product-card-price__right :nth-child(2) {
      order: 1;
  }

  .product-card-price__right :nth-child(3) {
      order: 3;
  }

  .put-link,
  .un-put-link {
      line-height: 28px;
      background: #efefef;
  }
  .put-link span, .un-put-link span {
      display: none;
  }

  .product-card-price .product-btn-card,
  .product-card-price .product-btn-click {
      max-width: 150px;
      margin: 0 10px 0 0;
  }

  .product-card-price .product-btn-put {
      margin: 0;
      width: 29px;
  }

  .put-link .icon, .un-put-link .icon {
      margin: 0;
      padding: 0 6px;
  }

  .product-btn-card a,
  .product-btn-click a {
      padding: 2px 0;
  }
}

@media (max-width: 420px) {
  .pop-mes {
       top: 90px;
  }
}

@media (max-width: 1129px) {
  .username__desktop {
      display: none;
  }

  .product-list__config__table__head.product-list__config__table__head > div,
  .product-list__config__table > div > div {
      font-size: 11px;
  }

  .plt-price .plt-price-old {
      font-size: 9px;
  }

  .product-card-price__old__sale {
      display: none;
  }

  .product-card-data__price {
      margin: 40px 0 0;
  }

  .product-card-price__left {
      display: flex;
      justify-content: space-between;
  }

  .product-card-price__old__num {
      white-space: nowrap;
  }

  .product-card-price__current {
      margin: 10px 0;
      white-space: nowrap;
  }

  .product-card-data__count {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 30px;
  }

  .menu__right__top:before {
      content: '';
      display: block;
      position: fixed;
      background: rgba(0,0,0,0.3);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
  }

  .menu__right__top__left {
      z-index: 2000;
      position: absolute;
      width: calc(100% - 30px);
      left: 15px;
  }

  .menu__right__top {
      opacity: 0;
      pointer-events: none;
  }

  body.search-mob-active .menu__right__top {
      opacity: 1;
      pointer-events: auto;
  }

  .activate-search-mob:after {
      content: '';
      background: url(/img/svg/search-black.svg) no-repeat center;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 17px;
  }

  .menu__right {
      padding: 0;
  }

  .menu__top__mob__btn {
      width: 110px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  body > div.hidden {
      padding-top: 56px;
  }
}

@media (max-width: 420px) {
  .product-list__sorted__inner {
      justify-content: space-between;
      font-size: 13px;
  }

  .product-list__sorted__inner div:nth-child(1) {
      display: block;
  }
}

span.product-row-list__item__out_of_stock {
  overflow: visible;
}

span.product-row-list__item__out_of_stock:before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: calc(100% - 1px);
  border-left: 0 solid transparent;
  border-right: 15px solid transparent;
  border-top: 29px solid #cfcfcf;
}

@media (max-width: 1129px) {
  span.product-row-list__item__out_of_stock {
      top: 0;
  }

  span.product-row-list__item__out_of_stock:before {
      border-top: 25px solid #cfcfcf;
  }
}

.lk-profile__input textarea {
  outline: none;
  border: 0;
  background: #fbfbfb;
  font-size: 13px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 25px;
  padding: 0 35px 0 15px;
  position: relative;
  z-index: 0;
  resize: none;
}

.product-card-props > .pcp-item > span {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

.product-card-props > .pcp-item.-dis > span {
  color: #bcbcbc;
  background: #f0f0f0;
}

.category-footer {
  background: #363636;
  color: rgba(255,255,255,0.75);
  padding: 30px 0 0;
}
.category-footer .category-footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.category-footer .category-footer-title {
  flex: 0 0 235px;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
  padding: 40px 0 0;
}
.category-footer .category-footer-desc {
  padding-left: 50px;
  flex: 1;
}
.category-footer .category-footer-desc-text {
  max-height: 145px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: max-height 0.75s ease-in;
}
.category-footer.more .category-footer-desc-text {
  max-height: 100%;
  background: rgba(255,255,255,0.75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: max-height 0.75s ease-out;
}
.category-footer .category-footer-desc-text a:hover {
  -webkit-text-fill-color: #f8cd4f;
  text-decoration: underline;
}
.category-footer .category-footer-desc-text a {
  -webkit-text-fill-color: white;
}
.category-footer .category-footer-desc-text ul {
  list-style: square inside;
}

.category-footer .category-footer-btn {
  padding: 15px 0;
  text-align: center;
  font-family: Museo Sans Cyrl, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #C4C4C4;
}
.category-footer .category-footer-btn .btn {
  background: transparent;
  color: rgba(255,255,255,0.75);
  border: 2px solid rgba(255,255,255,0.75);
}
.category-footer.more .category-footer-btn .btn-more,
.category-footer .category-footer-btn .btn-less {
  display: none;
}
.category-footer .category-footer-btn .btn-more,
.category-footer.more .category-footer-btn .btn-less {
  display: inline-block;
  color: inherit;
  font-weight: inherit;
  border: 1px solid #C4C4C4;
}

@media (max-width: 991.98px) {
  .category-footer .category-footer-wrapper {
      display: block;
  }
  .category-footer .category-footer-title {
      flex: 0 0 100%;
      text-align: center;
      padding: 0 0 20px;
  }
  .category-footer .category-footer-desc {
      padding-left: 0;
  }
}

@media (max-width: 420px) {
  .category-footer .category-footer-title {
      padding-bottom: 2px;
  }
}

.footer__contact .footer__contact__address {
  display: flex;
}

/** Форма профиля в ЛК **/
.lk-profile-col {
  flex: 0 0 46%;
}

@media (max-width: 991.98px) {
  .lk-profile-col {
      flex: 0 0 100%;
  }
}

label.like-ozn-labl {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.ozn-inp {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 46px;
  background: #f8f8f8;
  border: 0;
  border-bottom: 1px solid #bbb;
  padding: 9px 18px 0;
}

.ozn-inp:focus {
  border: 1px solid #bbb;
}

textarea.ozn-inp {
  box-sizing: border-box;
  height: 60px;
  padding-top: 18px;
  resize: vertical;
}

span.label-text {
  position: absolute;
  top: 14px;
  left: 18px;
  /*transition: .5s;*/
  opacity: 0;
  color: #888;
  pointer-events: none;
}

.ozn-inp:not(:placeholder-shown) + span.label-text,
.ozn-inp:focus + span.label-text,
.like-ozn-labl.has-text span.label-text {
  font-size: 12px;
  top: 3px;
}

.lk-profile-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 7px;
}

.lk-profile-info .info-title {
  color: #888;
}

.lk-profile-info .info-text a {
  color: #0098e9;
  text-decoration: underline;
}

.lk-profile-col .lk-profile-btn {
  margin-top: 7px;
  text-align: center;
}

.lk-profile-col .lk-profile-btn .btn {
  width: 100%;
  margin-left: 0;
  padding: 11px 25px;
}

.product-card-data__desc-is-oversized {
  color: #bf6660;
}

.menu__top__mob__btn {}

.delivery-params.interval-disabled,
.delivery-params.interval-disabled .checkbox-f {
  color: #bbb;
}

/**
* Оформление заказа (типы оплаты)
*/
.final-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.left-side-final-block {
  width: 65%;
}
.right-side-final-block {
  width: 32%;
  padding-top: 40px;
}
.order__result-item {
  width: 100%;
  font-size: 16px;
  margin: 4px 0;
}
.order__result-item-price {
  font-size: 16px;
  font-weight: bold;
}
#total-sum.order__result-item-price {
  font-size: 24px;
}
.order__result-item-title.last {
  padding-top: 11px;
}
.pay__variant-img {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-left: 10px;
}
.pay__variant-item-wrap {
  display: inline-block;
}
.pay__variant-item-left {
  position: relative;
  padding-left: 10px;
}
input + span.balon:after {
  top: 35%;
  right: 10px;
}
label.pay__variant-item {
  margin-bottom: 13px;
}
.pay__variant-item {
  margin-bottom: 13px;
  padding: 15px 0;
}
.pay__variant-info-text {
  font-size: 14px;
  width: 100%;
}
.pay__variant-info-text .red-text {
  color: #ff0000;
}
.pay__variant-info-text .underline-text {
  text-decoration: underline;
}
.pay__variant-info-text .green-text {
  color: #00aa00;
}
.insurance-info-block {
  position: relative;
  padding-left: 58px;
  margin-bottom: 15px;
}
.insurance-info-block:before {
  content: "";
  width: 48px;
  height: 53px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/img/shield.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.insurance-info-block-title {
  font-size: 14px;
  margin-bottom: 5px;
}
.insurance-info-block-text {
  font-size: 12px;
}
.order_load .btn._wide {
  padding-left: 22px;
  padding-right: 22px;
}
#real-submit-btn,
#fake-submit-btn {
  height: 36px;
  float: right;
  font-size: 14px;
}
#real-submit-btn:after,
#fake-submit-btn:after {
  content: "";
  display: table;
  clear: both;
}
#card-pay-buttons,
#card-2-card-pay-buttons {
  display: none;
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  height: 36px;
  float: right;
  font-size: 14px;
}
.order__result {
  display: block;
}
.order__result .order__result-item {
  margin: 7px 0;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.order__result .order__result-item-title {
  overflow: hidden;
  position: relative;
  display: table-cell;
  width: 100%;
}
.order__result .order__result-item-title:after {
  content: '';
  position: absolute;
  bottom: 6px;
  margin-left: 6px;
  width: 100%;
  height: 0;
  border-bottom: 1px dotted;
}
.order__result .order__result-item-price {
  display: table-cell;
  padding-left: 8px;
  white-space: nowrap;
  vertical-align: bottom;
}
@media (max-width: 1129px) {
  .final-block {
      display: block;
  }
  .left-side-final-block {
      width: 100%;
  }
  .right-side-final-block {
      width: 100%;
      padding-top: 0;
  }
  .pay__variant-info-text {
      padding-top: 10px;
  }
}

.lk-table__row .btn._wide {
  margin-top: 10px;
}

.pay-form .pay__variant {
  display: flex;
}
.pay-form .right-side-final-block {
  padding-top: 0;
}
.pay-form .btn._wide {
  float: right;
}

/** Card2Card Pay Page **/
.h3.card2card-title {
  font-size: 24px;
}
.card2card-pay-sum {
  font-size: 44px;
  font-weight: 600;
}
.card2card-card-rect {
  position: relative;
  max-width: 608px;
  height: 360px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 47px;
  margin: 30px 0;
}
.card2card-card-text-group {
  position: absolute;
  width: 500px;
  height: 115px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.card2card-card-number {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 30px 12px 22px;
  background: #fff;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
}
.card2card-card-copy-icon {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 36px;
  height: 36px;
  background-image: url("/img/copy_paste_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card2card-card-owner {
  padding-top: 20px;
}
.card2card-card-number,
.card2card-card-owner {
  font-size: 28px;
}
.card2card-card-logo-group {
  position: absolute;
  right: 54px;
  bottom: 47px;
}
.card2card-card-logo-1 {
  display: inline-block;
  width: 79px;
  height: 26px;
  background-image: url("/img/visa_bw.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card2card-card-logo-2 {
  display: inline-block;
  width: 58px;
  height: 26px;
  background-image: url("/img/master_card_bw.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card2card-info-text {
  font-size: 24px;
}
.card2card-info-text .red {
  color: #ff0000;
}
.card2card-info-small-text {
  font-size: 18px;
  font-weight: 300;
}
.card2card-go-back-link {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #0098e9;
  text-decoration: underline;
}

@media (max-width: 1129px) {
  .card2card-card-rect {
      height: 53vw;
      border-radius: 7vw;
  }
  .card2card-card-text-group {
      position: absolute;
      width: 66vw;
      height: 20vw;
  }
  .card2card-card-number {
      padding: 2vw 12vw 2vw 4vw;
      border-radius: 2vw;
  }
  .card2card-card-copy-icon {
      top: 1.5vw;
      right: 3vw;
      width: 7vw;
      height: 7vw;
  }
  .card2card-card-owner {
      padding-top: 4vw;
  }
  .card2card-card-number,
  .card2card-card-owner {
      font-size: 4.7vw;
  }
  .card2card-card-logo-group {
      right: 8vw;
      bottom: 5vw;
  }
  .card2card-card-logo-1 {
      width: 12vw;
      height: 4vw;
  }
  .card2card-card-logo-2 {
      width: 8vw;
      height: 4vw;
  }
}

.lk-profile-btns {
  margin-top: 20px;
  margin-bottom: 20px;
}
.lk-profile-btns .btn {
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  padding: 10px 15px;
}

.lk-cart-info-message {
  background-color: #f8cd4f;
  padding: 10px;
  color: #000;
}

.lk-cart-info-message-title {
  font-size: 17px;
  font-weight: 700;
}


.lk-table-wrap td:first-child,
.lk-table-wrap th:first-child {
  padding-left: 60px;
}
.lk-table-wrap td:last-child,
.lk-table-wrap th:last-child {
  padding-right: 60px;
}
.lk-table-wrap .tr-ordrs-content td:first-child {
  padding-left: 0;
}
.lk-table-wrap .tr-ordrs-content td:last-child {
  padding-right: 0;
}
.lk-table-wrap td,
.lk-table-wrap th {
  vertical-align: top;
}
.lk-table-wrap td {
  padding: 27px 15px 11px;
}
.lk-table-wrap .tr-ordrs-content td {
  padding: 0;
}
.lk-table-wrap .lk-table-additional-row.hidden-row {
  display: none;
}
.lk-table-wrap .lk-table-additional-row td {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
}
.lk-table-wrap .lk-table-additional-row td span {
  color: #ff3838;
}

@media (max-width: 1129px) {
  .lk-table-wrap td,
  .lk-table-wrap th {
      padding: 0 !important;
  }
  .lk-table-wrap td:first-child,
  .lk-table-wrap th:first-child {
      padding-left: 0;
  }
  .lk-table-cart {
      display: flex;
      width: 100%;
      flex-direction: column;
  }
  .lk-table-cart tr {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      padding: 0 0 15px;
      border-bottom: 1px solid #F6F6F6;
      margin-bottom: 20px;
  }
  .lk-table-cart tr.lk-table__head {
      display: none;
  }
}

/* страница со списком заказов */
.tabl-ordrs-new .odr-meta__col-l,
.tabl-ordrs-new .odr-meta__col-r {
  background: #FBFBFB;
  width: 50%;
  padding: 20px;
}

.tabl-ordrs-new .odr-meta__col-l strong,
.tabl-ordrs-new .odr-meta__col-r strong {
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table.tabl-ordrs-new {
  width: 100%;
  border-bottom: 1px solid #dedede;
}
.tabl-ordrs-new .row__ord-meta {
  padding: 15px 0;
}
.tabl-ordrs-new .tr-ordrs-header {
  background: #fbfbfb;
}
.tabl-ordrs-new .tr-ordrs-header .thd-ordrs-new {
  padding: 10px 0;
}
.tabl-ordrs-new .tr-ordrs {
  border-top: 1px solid #dedede;
}
.tabl-ordrs-new .tr-ordrs.first-row {
  border-top: 0;
}
.tabl-ordrs-new .tr-ordrs .tcell-ordrs-new {
  text-align: center;
}
.tabl-ordrs-new .tr-ordrs-header .thd-ordrs-new:first-child,
.tabl-ordrs-new .tr-ordrs .tcell-ordrs-new:first-child {
  padding-left: 60px;
}
.tabl-ordrs-new .tr-ordrs-header .thd-ordrs-new:last-child,
.tabl-ordrs-new .tr-ordrs .tcell-ordrs-new:last-child {
  padding-right: 60px;
}
.tabl-ordrs-new .tr-ordrs .orders-head-arrow {
  width: 10px;
  height: 20px;
  background-image: url("/img/arr_down.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.tabl-ordrs-new .tr-ordrs.is-collapsed .orders-head-arrow {
  transform: rotate(0);
}
.tabl-ordrs-new .tr-ordrs .orders-head-number {
  text-decoration: underline;
}
.tabl-ordrs-new .tr-ordrs .orders-date span {
  font-size: 13px;
}
/*.tabl-ordrs-new .tr-ordrs-content {*/
.tabl-ordrs-new .tr-ordrs-content-wrap {
  display: none;
  padding: 0 60px;
}
.tabl-ordrs-new .orders-link {
  color: #0098e9;
  text-decoration: underline;
}
.tabl-ordrs-new .lk-table__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tabl-ordrs-new .lk-table__row .lk-table-fd-sum {
  padding-top: 0;
  width: 110px;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
}
.tabl-ordrs-new .lk-table__row {
  align-items: center;
}

.tabl-ordrs-new .lk-table__row .lk-table-fd-name {
  width: 360px;
  padding-top: 0;
  padding-bottom: 11px;
}

.tabl-ordrs-new .lk-table-fd-name .lk-table-card__head {
  width: 270px;
  margin-top: 0;
}

.tabl-ordrs-new .lk-table-fd-save {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}

.tabl-ordrs-new td.tcell-ordrs-new.order__sum {
  white-space: nowrap;
}

.tabl-ordrs-new td.tcell-ordrs-new {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
.tabl-ordrs-new .menu-search [type=text] {
  border-right: 1px solid #e4e4e4;
}
.tabl-ordrs-new .tcell-ordrs-new .only-mbl {
  display: none;
}

@media (max-width: 1129px) {
  .slider-container {
      width: 100% !important;
  }

  .tabl-ordrs-new .odr-meta__col-l {
      padding-bottom: 0;
      /*width: 100%;*/
      width: 265px;
  }
  .tabl-ordrs-new .odr-meta__col-r {
      padding-top: 0;
      /*width: 100%;*/
      width: 265px;
  }
  .flex-row {
      flex-direction: column;
  }
  table.tabl-ordrs-new {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  .tabl-ordrs-new .tr-ordrs-header {
      display: none;
  }
  .tabl-ordrs-new .tr-ordrs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
  }
  .tabl-ordrs-new .tr-ordrs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
      position: relative;
  }
  .orders-head-arrow {
      position: absolute;
      top: 10px;
      right: 0;
  }
  .tabl-ordrs-new .tr-ordrs-content {
      padding-bottom: 10px;
  }
  .tabl-ordrs-new .tr-ordrs-content-wrap {
      padding: 0;
  }
  .tabl-ordrs-new .lk-table__row {
      display: flex;
      justify-content: space-between;
      width: 305px;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      padding: 0 0 15px;
      border-bottom: 1px solid #F6F6F6;
      margin-bottom: 20px;
  }
  .tabl-ordrs-new .lk-table__row .lk-table-fd-name {
      width: 280px;
  }
  .tabl-ordrs-new .lk-table__row .lk-table-fd-qty {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
  }
  .tabl-ordrs-new .number._flex._avg::before {
      content: "Кол-во:";
      position: absolute;
      left: 0;
      padding-left: 122px;
      color: #888;
      font-size: 14px;
      font-weight: 300 !important;
  }
  .tabl-ordrs-new .lk-table__row .lk-table-fd-sum {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      font-size: 20px !important;
      font-family: Museo Sans Cyrl, sans-serif;
      line-height: 24px;
      color: #363636;
      margin-top: 12px;
      font-weight: 400 !important;
      position: absolute;
      top: 80px;
  }
  .tabl-ordrs-new .lk-table__row .lk-table-fd-del {
      position: absolute;
      top: 0px;
      right: 0px;
  }
  .tabl-ordrs-new .menu-search {
      width: 305px;
  }
  .tabl-ordrs-new .tcell-ordrs-new .only-mbl {
      display: inline-block;
      font-weight: bold;
      padding-right: 6px;
  }
  .tabl-ordrs-new .tcell-ordrs-new br {
      display: none;
  }
  .tabl-ordrs-new .tr-ordrs .orders-date span {
      font-size: 14px;
  }
  .tabl-ordrs-new .lk-table-fd-save {
      padding-bottom: 10px;
  }

  .modal-form {
      width: 300px;
      max-height: calc(100% - 160px);
      overflow-y: auto;
  }

  .pay__variant {
      flex-wrap: wrap;
  }

  label.pay__variant-item {
      width: 100%;
  }

  .order_load {
      overflow: hidden;
  }
}

.page__404__content {
  display: flex;
  justify-content: space-between;
}
.page__404__text-block {
  align-self: center;
}
.page__404__title,
.page__404__title-hidden {
  font-weight: 800;
  font-size: 148px;
  line-height: 130px;
  color: #DCDCDC;
}
.page__404__title-hidden {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  margin: auto;
}
.page__404__title-hidden span {
  opacity: 0.7;
}
.page__404__text {
  font-size: 22px;
}
.page__404__link {
  text-decoration: underline;
  color: #F8CD4F;
}
.page__404__link:hover {
  text-decoration: none;
}
.page__404__img-block {
  position: relative;
  width: 100%;
  height: 600px;
  background: url("/img/dog_error.png") no-repeat center;
  background-size: contain;
}

@media (max-width: 1300px) {
  .page__404__content {
      flex-direction: column;
  }
  .page__404__text-block {
      order: 2;
  }
  .page__404__title {
      display: none;
  }
  .page__404__text {
      text-align: center;
      font-size: 20px;
  }
  .page__404__img-block {
      height: 300px;
      margin-top: 30px;
  }
  .page__404__title-hidden {
      display: block;
  }
}

.TinkoffPayForm {
  margin-top: 30px;
}
.tinkoffPayRow {
  min-width: 280px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 0;
}
.pay__tinkoff-text {
  padding-top: 30px;
  color: #c4c4c4;
}

/** Отзывы **/
.product-card-data__rating {
  margin-bottom: 16px;
}
.product-card-data__rating .review__rating-link {
  font-size: 19px;
  color: #2aa6ff;
  text-decoration: underline;
  vertical-align: bottom;
  padding-left: 24px;
}

.tabs-nav a {
  background: #363636;
  color: #fff;
  margin-left: 5px;
}
.review td {
  vertical-align: top;
  padding: 8px 8px 26px;
}
.review__avatar {
  width: 67px;
  height: 67px;
  background-color: #363636;
  border-radius: 50%;
}
.review__avatar span {
  display: block;
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  line-height: 67px;
}
.review__full-star,
.review__empty-star {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 4px;
}
.review__owner-wrapper {
  padding-bottom: 12px;
}
.review__name {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding-right: 14px;
}
.review__date {
  display: inline-block;
  font-size: 18px;
  color: #888;
}
.review__form {
  margin: 15px 0;
}
.review__textarea textarea {
  box-sizing: border-box;
  width: 100%;
  height: 174px;
  resize: vertical;
  border: 1px solid #c4c4c4;
  padding: 12px;
}
.review__send-btn {
  text-align: right;
}
.review__send-btn .btn {
  margin-top: 20px;
  padding: 20px 60px;
}

.countStarsBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}
.countStarsBlock .textCountStars {
  padding-right: 15px;
}
.countStarsBlock .listElemStar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.countStarsBlock .iconStar {
  cursor: pointer;
  padding: 0 3px;
}
.countStarsBlock .iconStar .fullStars {
  display: none;
}

/** input number count **/
.number__value {
  border: none;
  width: 32px;
}
.number__value::-webkit-outer-spin-button,
.number__value::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.js-link-pager-pagination {
  flex: auto;
  width: 100%;
}

.pagination span {
  box-sizing: border-box;
  font-family: 'Museo Sans Cyrl',sans-serif;
  display: inline-block;
  background: #cfcfcf;
  font-weight: 700;
  padding: 8px 15px;
  border: 0;
  text-align: center;
  transition: box-shadow 0.3s;
}

.pagination span.pager-separator {
  background: #fff;
}

.pagination .btn,
.pagination span {
  margin-right: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__name span {
  color: #F8CD4F;
}

.header-address {
  position: relative;
  padding-left: 27px;
  min-height: 30px;
  transition: opacity 0.3s;
}
.header-address .icon {
  position: absolute;
  top: 0;
  left: 0;
}
.header-address a {
  text-decoration: underline;
}
.header-address .your-city {
  font-style: italic;
  font-size: 13px;
  opacity: 0.6;
  text-decoration: none;
  padding-left: 10px;
}

.header__btn__soc {
  padding-left: 22px;
}

.select-your-city-list {
  display: flex;
  justify-content: space-between;
}

.telegram-subs {
  background-color: #4eaee6;
}

.vk-subs {
  background-color: #0277ff;
}

.telegram-subs,
.vk-subs {
  display: inline-block;
  margin-right: 1em;
  color: #FFF;
  padding: 5px 15px;
  width: 155px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.telegram-subs i,
.vk-subs i {
  vertical-align: baseline;
}

.contact-form__btn.btn:disabled,
.contact-form__btn.btn[disabled]{
  opacity: 0.6;
}

.offer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.offer {
  text-decoration: underline;
  color: #333;
}
