$main-font-color: #363636;

$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;

$white: #fff;
$black: #000;

$brown: #363636;
$yellow: #F8CD4F;
$yellow-hover: #ffc414;
$yellow-active: #c49300;

$gray: #888;
$gray7: #777;
$gray9: #9A9A9A;
$lightGray: #f8f8f8;
$lightGray1: #fbfbfb;
$lightGrayD: #D3D3D3;
$lightGrayE: #E4E4E4;
$darkGray: #3E4757;

$red: #ff3838;
$red-black: #EE0000;
$blue: #2aa6ff;

$textLight: .6;

$mainFont: 'Museo Sans Cyrl', sans-serif;
$mainFontSize: 14px;
$mainTextColor: $brown;
$mainBgColor: $white;

$footBgColor: $brown;
$footTextColor: $white;

$containerPadding: 40px;
$containerPaddingMob: 25px;
$containerPaddingMobSm: 15px;

$sliderColorDot: #c4c4c4;
$sliderColorDotActive: #f8cd4f;